@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@600&display=swap');
body{
 background-image: url("./assets/images/picture.jpg");
 box-sizing: border-box;
 color:white;
 
 font-family: 'Edu NSW ACT Foundation', cursive;
 
 
}
/* Nav starts here  */
.navbar{
  background-color: antiquewhite;
  box-sizing: border-box;
  padding: 20px;
  width:100%;
  margin-bottom: 100px;
  position: fixed;
  top:0;
 
}
.navlink{
  width:60%;
  margin: 0 auto;
  text-align: center;
}
.nav-btn{
  text-decoration: none;
  color:black;
  font-size: 20px;
  padding: 10px;;
}
/* Nav ends here  */
/* Component margin  starrts */
.margin{
  background-color: blue;
  margin-top: 80px;
}
/* Component margin ends here  */